@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400&family=Poppins:ital,wght@0,500;0,600;0,700;1,400&family=Quicksand:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
nav{
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 1rem 1.5rem;
    box-shadow:  5px 5px 10px  lightgray;
}
nav img{
    width: 180px;
}
.menu{
    display: none;
    align-items: center;
    margin: 0 -1rem;

}
.menu a{
    margin: 0 1rem;
    color: navy;
    transition: 0.3s;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.menu a:hover{
    color: whitesmoke;
    background: linear-gradient(71deg, rgba(0,8,78,1) 42%, rgba(0,69,255,1) 90%);
   
}
.hamburger{
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    width: 2rem;
    height: 2rem;

}
.hamburger span{
    color: navy;
    font-size: 2rem;
}
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    padding-top: 6rem;
    
    opacity: 0;
    background: linear-gradient(71deg, rgba(0,8,78,1) 42%, rgba(0,69,255,1) 90%);
    color: white;
    transform: translateY(-100%);
    transition: 0.3s;
}
.mobile-menu.is-open{
    opacity: 1;
    transform: translateY(0);
}
.mobile-menu a{
    display: block;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.3s;

}
.mobile-menu a:hover{
    color: navy;
    background: linear-gradient(71deg, rgba(157,157,157,1) 42%, rgba(240,240,240,1) 90%);;
}

@media (min-width: 770px) {
    .mobile-menu, .hamburger{
        display: none;
    }
    .menu{
        display: flex;
    }
}

.about-DM{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-about{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.first-about{
    width: 450px;
}
.first-about img{
    width: 450px;
    object-fit: contain;
}
.second-about{
    width: 500px;
    display: flex;
    flex-direction: column;
}
.second-about p{
    width: 500px;
    text-align: left;
}

@media screen and (max-width:770px){
    .links{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: beige;
        top: 80px;
        left: -100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 5px 10px darkgrey;
        transition: all 0.5s;
        z-index: 2000;
    }
    .links a{
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        color: darkslategrey;
    }
    .links.show{
        left: 0;
    }
    nav .icon {
        display: block;
    }
}

@media screen and (max-width:480px){
    .main-about{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first-about{
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }
    .first-about img{
        width: 350px;
        object-fit: contain;
    }
    .second-about{
        width: 350px;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    .second-about p{
        width: 350px;
        text-align: center;
    }
}
